<main class="bg-customGray text-white font-montserrat p-8">
    <header>
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-3xl font-semibold font-archivo text-customBlue">CyberGuard</h1>
            <nav class="flex space-x-6 font-medium">
                <a href="#" class="hover:text-customBlue">Home</a>
                <a href="#features" class="hover:text-customBlue">Features</a>
                <a [routerLink]="['/cyberguard']" class="hover:text-customBlue">Chatbot</a>
                <a [routerLink]="['/threat-scan']" class="hover:text-customBlue">Threat Scan</a>
            </nav>
            <button (click)="openWelcomeModal()" class="border-2 border-[#404040] rounded-3xl font-semibold hover:text-customBlue py-[8px] px-[20px] hidden md:flex">
                LOG IN / SIGN UP
            </button>
        </div>
    </header>

    <hr class="border-t border-[#404040] my-8" />

    <section class="p-8">
        <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
            <div class="md:w-1/2">
                <h1 class="text-[44px] font-semibold leading-relaxed mb-8 text-center md:text-left ">
                    Welcome to <span class="text-customBlue">CyberGuard</span>: Your Ultimate Cybersecurity Ally
                </h1>
                <p class="text-lg mb-8 text-center md:text-left">
                    CyberGuard helps keep you safe online by answering security questions, detecting threats, and predicting how risks spread in your network.
                </p>
                <div class="flex space-x-6 mt-6 mb-6">
                    <a href="#features" class="bg-customBlue text-black text-center font-bold py-4 px-8 rounded-lg transition duration-200 hover:bg-[#48e8f0]">
                        LEARN MORE
                    </a>
                    <button (click)="openWelcomeModal()" class="border border-customBlue text-customBlue text-center font-bold py-4 px-8 rounded-lg hover:bg-customBlue hover:text-black transition duration-200">
                        TRY IT NOW
                    </button>
                </div>
            </div>
            <div class="md:w-1/2 ml-4">
                <div class="relative inline-block">
                    <img src="assets/images/cybersecurity.png" alt="" class="object-cover w-full h-full">
                
                    <div class="absolute top-0 left-0 h-4 w-4 border-t-4 border-l-4 border-customBlue"></div>
                    <div class="absolute top-0 right-0 h-4 w-4 border-t-4 border-r-4 border-customBlue"></div>
                    <div class="absolute bottom-0 left-0 h-4 w-4 border-b-4 border-l-4 border-customBlue"></div>
                    <div class="absolute bottom-0 right-0 h-4 w-4 border-b-4 border-r-4 border-customBlue"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="py-20">
        <div class="container mx-auto">
            <h2 class="text-4xl text-center font-medium mb-10">Key Features</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-16 mx-24">
                <div class="flex flex-col items-center p-12 gradient-border">
                    <fa-icon [icon]="faClock" class="text-4xl mb-8 text-customBlue"></fa-icon>
                    <h3 class="text-2xl font-semibold text-center gradient-text mb-8">24/7 Availability</h3>
                    <p class="text-center">Always-on support for immediate assistance with cybersecurity queries.</p>
                </div>
                <div class="flex flex-col items-center p-12 gradient-border">
                    <fa-icon [icon]="faShieldAlt" class="text-4xl mb-8 text-customBlue"></fa-icon>
                    <h3 class="text-2xl font-semibold text-center gradient-text mb-8">Incident Response Support</h3>
                    <p class="text-center">Get guidance on handling security incidents and breaches effectively.</p>
                </div>
                <div class="flex flex-col items-center p-12 gradient-border">
                    <fa-icon [icon]="faEye" class="text-4xl mb-8 text-customBlue"></fa-icon>
                    <h3 class="text-2xl font-semibold text-center gradient-text mb-8">Real-Time Threat Detection</h3>
                    <p class="text-center">Instantly identify and respond to potential security threats.</p>
                </div>
                <div class="flex flex-col items-center p-12 gradient-border">
                    <fa-icon [icon]="faChartLine" class="text-4xl mb-8 text-customBlue"></fa-icon>
                    <h3 class="text-2xl font-semibold text-center gradient-text mb-8">Predictive Threat Analysis</h3>
                    <p class="text-center">Forecast the spread of threats or vulnerabilities within your network.</p>
                </div>
                <div class="flex flex-col items-center p-12 gradient-border">
                    <fa-icon [icon]="faEnvelopeOpen" class="text-4xl mb-8 text-customBlue"></fa-icon>
                    <h3 class="text-2xl font-semibold text-center gradient-text mb-8">Phishing Detection</h3>
                    <p class="text-center">Recognize and alert users to potential phishing attacks.</p>
                </div>
                <div class="flex flex-col items-center p-12 gradient-border">
                    <fa-icon [icon]="faExclamationTriangle" class="text-4xl mb-8 text-customBlue"></fa-icon>
                    <h3 class="text-2xl font-semibold text-center gradient-text mb-8">Vulnerability Assessment</h3>
                    <p class="text-center">Identify weak points in your systems to enhance security.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="-mx-8 py-20 bg-custom-gradient">
        <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-36">
            <div class="md:w-[40%]">
                <h2 class="text-[44px] leading-relaxed font-semibold">Your security is<br> just a chat away</h2>
            </div>
            <div class="md:w-[60%] flex flex-col items-center md:items-start space-y-4 mt-8 md:mt-0 md:ml-24">
                <p class="text-xl text-center mb-8 md:text-left">Start chatting now and get immediate support for all your cybersecurity questions!</p>
                <div class="flex items-center w-full space-x-4">
                    <button (click)="openLoginModal()" class="bg-customBlue text-black font-bold h-12 w-32 rounded-lg transition duration-200 hover:bg-[#48e8f0] flex items-center justify-center">
                        Log In
                    </button>
                    <button (click)="openSignupModal()" class="border border-customBlue text-white font-bold h-12 w-32 rounded-lg transition duration-200 hover:bg-[#48e8f0] hover:text-black flex items-center justify-center">
                        Sign Up
                    </button>
                </div>
            </div>
        </div>
    </section>
    
    
    <hr class="border-t border-[#404040] mt-20 mb-8" />
    
    <footer>
        <p class="text-center">&copy; 2024 <strong>CyberGuard</strong>. All Rights Reserved.</p>
    </footer>
</main>

<app-welcome-modal #welcomeModal></app-welcome-modal>
