<div class="flex h-screen font-montserrat"
     [ngStyle]="{
        'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/images/bg.jpg)', 
        'background-size': 'cover', 
        'background-position': 'center'
     }">

    <!-- Sidebar for conversation history -->
    <div class="m-4 w-1/5 rounded-xl backdrop-blur-sm bg-transparent text-white p-6 overflow-y-auto gradient-border-inverse">
        <div class="text-end mb-6">
            <!-- New Conversation Icon -->
            <fa-icon 
                [icon]="newConversationIcon" 
                class="text-2xl cursor-pointer hover:text-customBlue transition duration-200" 
                (click)="startNewConversation()">
            </fa-icon>
        </div>
        <!-- Additional sidebar content can go here -->
    </div>

    <div class="w-4/5 flex flex-col p-4 transition-all duration-300">
        <div class="mb-6 mt-4">
            <h1 class="text-3xl font-semibold font-archivo text-customBlue text-center">CyberGuard</h1>
        </div>

        <!-- Main content area with blur effect -->
        <div class="backdrop-blur-sm bg-transparent rounded-xl gradient-border flex-grow p-6 overflow-y-auto scrollbar-custom flex flex-col">
            <!-- Message display area with scroll -->
            <div class="space-y-4 flex-grow overflow-y-auto">
                <div *ngFor="let message of messages" class="flex {{ message.isUser ? 'justify-end' : 'justify-start' }}">
                    <div class="max-w-xs w-fit">
                        <div class="rounded-3xl p-6 shadow-md {{ message.isUser ? 'bg-gray-100' : 'bg-gray-100' }}">
                            <p class="text-gray-800">{{ message.text }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Input and send button at the bottom of the div -->
            <div class="p-4 bg-custom-gradient rounded-3xl mt-4 shadow-sm shadow-customBlue">
                <div class="flex">
                    <input 
                        type="text" 
                        [(ngModel)]="userInput" 
                        (keyup.enter)="sendMessage()" 
                        placeholder="Message CyberGuard" 
                        class="flex-grow rounded-lg bg-transparent px-4 mr-2 focus:outline-none text-white" 
                    />
                    <button (click)="sendMessage()" class="bg-customBlue text-black rounded-3xl px-4 mr-2 shadow-md hover:bg-[#48e8f0] transition duration-200">
                        <fa-icon [icon]="sendIcon"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
